# Ignore the personal PC vault for now
Personal-PC

# Ignore all .obsidian directories
Network-and-Systems/.obsidian

## Except CSS snippets
!Network-and-Systems/.obsidian/snippets/*

# Ignore stfolder/stignore config
Network-and-Systems/.stfolder
Network-and-Systems/.stignore

